
.title {
	position: absolute;
	left: 0px; 
	right: 0px;
	height: 120px;
}

.titulo {
	background-color: blue;
	height: 120px;
}

.sidebar {
	position: absolute;
	left: 0px;
	top: 80px;
	bottom: 0px;
	width: 166px;
}

.center {
	position: absolute;
	left: 166px;
	top: 80px;
	right: 0px;
	bottom: 0px;
}

button.adapt {
	margin-top: 10px
	margin-bottom: 10px;
	height: all;
	width: 100%;
}